<h1>Visualization Tests</h1>
<%= link_to "Ruby partial", :action => "ruby_partial" %>
<br />
<%= link_to "XAML partial", :action => "xaml_partial" %>
<br />
<%= link_to "XAML parial with ERb", :action => "xaml_erb_partial" %>