<%= render :partial => "evaluator" %>

<h1>Try IronRuby</h1>
<div class="warning" id="warning-id">
  <a id="warning-hide" href="javascript:void(0)" onclick="Effect.SlideUp('warning-id', {duration: 0.1})">Hide</a>
  <b>Very early prototype</b>: Error messages are only limited to the exception name and the up-arrow doesn't cycle through previous commands.
</div>

<div style="display: none">
    <a href="javascript:void(0)" id="previous" onclick="alert('prev')">Previous Line</a>
    <a href="javascript:void(0)" id="next" onclick="alert('next)">Next Line</a>
</div>
<div id="console">
  <div id="result"></div>
  <span id="prompt" class="prompt"></span><form id="run_form" action="javascript:void(0)"><textarea type="text" rows="1" id="code"></textarea><input type="submit" id="run" value="Run" /></form> <!-- return submitenter(this, event) -->
  <span id="loading"></span>
</div>
<div id="tutorial">
  <h2>Tutorial</h2>
  <div id="instructions">
    <img src="/images/loading2.gif" alt="Loading ..." />
  </div>
</div>
