<% if @posts.empty? %>
  No posts, add one below!
<% else %>
<table>
    <tr>
    <% @posts.first.keys.each do |key| %>
        <th><%= key %></th>
    <% end %>
    </tr>
    <% @posts.each do |post| %>
    <tr>
        <% post.keys.each do |key| %>
        <td><%= post[key] %></td>
        <% end %>
    </tr>
    <% end %>
</table>
<% end %>
