<%= render :partial => "posts" %>

<h1>Listing posts</h1>

<div id="posts">
    <div>Loading <img src="images/loading.gif" alt="Loading ..." /></div>
</div>

<br />

<%= link_to 'New post', new_post_path %>