body {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 13px;
	color: black;
	background-color: white;
}

body,h1,h2,h3,h4,h5,p,ul,li,a,div,span {
	border: 0; padding: 0; margin: 0;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

h1,h2,h3,h4,h5 {
	color: #1363AC;
	font-weight: normal;
}

h5 {
	font-size: 15px;
}

.frame a, .banner .actions a, .pre_footer a {
	color: #1363AC;
}
.frame a:link, .frame a:visited, 
.banner .actions a:link, .banner .actions a:visited,
.pre_footer a:link, .pre_footer a:visited { 
	text-decoration: underline; 
}
.frame a:hover,
.banner .actions a:hover,
.pre_footer a:hover { 
	text-decoration: none; 
}

/* banner ************************************************/

.banner {
	text-align: center;
}

.status {
	font-size: 18px;
	color: white;
}
.status a {
	text-decoration: underline;
	color: white;
	font-weight: normal;
}
.status a:hover {
	text-decoration: none;
}
.status .announcement {
	font-size: 13px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: normal;
}
.account_content .actions .logged_in,
.account_content .actions .logged_in a {
    font-size: 13px;
}
.account_content .actions .logged_in {
	margin-left: 10px;
}

/* actions ***********************************************/

.actions .edit, 
.actions .destroy, 
.actions .save, 
.actions .new,
.actions .handle {
	padding: 0;
	text-indent: -100000px;
	background-repeat: no-repeat;
	background-color: none;
	background-position: 0px 0px;
	display: block;
}
.actions .edit {
	background-image: url(../../images/buttons/edit.png);
	width: 21px;
	height: 17px;
}
.actions .edit:hover { background-color: white; background-position: 0px -17px; }
.actions .edit.text {
	padding-left: 26px;
	padding-right: 5px;
	text-indent: 0px;
	width: auto;
}
.actions .destroy {
	background-image: url(../../images/buttons/trash.png);
	width: 14px;
	height: 19px;
}
.actions .destroy:hover { background-color: white; background-position: 0px -20px; }
.actions .save {
	text-indent: 0px;
	font-size: 16px;
	padding-left: 33px;
	background-image: url(../../images/buttons/save_button.png);
	background-position: 0px 0px;
	padding-top: 5px;
	padding-bottom: 4px;
	display: inline;
}
.actions .link {
	color: #1363AC; 
	text-decoration: underline;
	background-color: white;
	border: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
	margin: 0px;
}
.actions .save:hover { 
	background-color: white; 
	color: #1363AC; 
	background-position: 0px -28px;
	cursor: hand;
}
.actions .new {
	text-indent: 0px;
	font-size: 16px;
	padding-left: 33px;
	background-image: url(../../images/buttons/add_button.png);
	padding-top: 5px;
	padding-bottom: 4px;
	display: inline;
}
.actions .new:hover { 
	background-color: white; 
	color: #1363AC; 
	background-position: 0px -28px;
}
.actions .handle {
  cursor: move;
  background-color: #bbb;
  width: 22px;
	height: 14px;
	float: left;
	margin-top: 7px;
	padding-top: 3px;
	padding-left: 2px;
	font-size: 8px;
	text-indent: 0px;
	color: white;
}
.actions .handle:hover {
  background-color: #448238;
}

/* ----- *************************************************/

.about h2 {
	font-weight: normal;
	font-size: 24px;
	color: #1060A8;
}


/* Darren's additions */

.StartHidden {
  display: none;
}


/* display grey rounded box around some text */
.tag {
	font-size: 9px;
	background-color: #333;
	color: white;
	padding: 2px 4px;
	margin: 2px;
	/* display: inline; */
}
