label {
    width: 150px;
    float: left;
}

.student_login_pane {
	float: left; 
	width: 63%;
}

.standard_login_pane {
	float: right; 
	border-left: 1px solid #bbb; 
	padding-left: 10px; 
	width: 35%;
}

.frame_content .login_window {
	width: auto;
	padding: 10px; 
	margin: 40px 150px 0px 150px; 
	border: 2px solid #C7C7C7; 
	background-color: #ffffee;
}
