<% if @assistments.empty? %>
  <div class="help_message" id="no_assignments_message">
    You do not have any assignments; please check back later!
  </div>
<% end %>
<div class="class_assignment_list" id="class_assignment_list">
  <%= render :partial => "class_assignment", :collection => @assistments %>
</div>