<div class="footer">
  <div>&copy; 2004-<%= Time.new.year %> Department of Computer Science - Worcester Polytechnic Institute - 100 Institute Road, Worcester, MA 01609</div>
  <div>
	To report bugs or defects, please email <a href="mailto:assistment-bugs@wpi.edu">assistment-bugs@wpi.edu</a>. 
  </div>
</div>
